.Abilities {
  cursor: pointer;
  text-align: center;
}

/* On mouse-over */
.item:hover,
.item:active {
  background: #eee;
  color: #0d6efd;
}

.item-0 {
  text-decoration: underline;
  background: #eee;
  color: #0d6efd;
}

.Abilities h2 {
  text-align: left;
  margin-left: 2em;
}
