.Abilities {
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
  justify-content: left;
}

/* On mouse-over */
.item:hover {
  background: #eee;
  color: #0d6efd;
}
.Abilities h2 {
  text-align: left;
  margin-left: 18%;
}
