.InfoPlus {
}
.blur-box {
  box-shadow: 0 30px 50px rgb(65 50 100 / 10%);
  border-radius: 8px;
  background: white;
  margin: 10px auto 0 auto;
  padding: 40px 100px 60px;
  width: 75%;
}
.InfoPlus h2 {
  text-align: left;
  margin-left: 18%;
}
@media only screen and (max-width: 500px) {
  .blur-box {
    padding: 40px;
  }
}
