* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.SearchBar {
  text-align: center;
}

.Search {
  padding: 80px;
  /* background-image: url("./images/01.jpg");
  background-size: 100% 400px;*/
  max-width: auto;
  max-height: auto;
  margin: 0 auto;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
form {
  max-width: 300px;
  margin: 0 auto;
}
form.submitForm input[type="search"] {
  padding: 10px;
  font-size: 17px;
  border: 3px solid #198754;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.submitForm button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #198754;
  color: white;
  font-size: 17px;
  border: 3px solid #198754;
  border-left: none;
  cursor: pointer;
}

form.submitForm button:hover {
  background: #0b7dda;
}

form.submitForm::after {
  content: "";
  clear: both;
  display: table;
}
.Content {
  padding: 0;
  margin: 0;
}

.mastfoot {
  /*background-color: var(--secondary);*/
  position: relative;
  bottom: 0px;
}
@media only screen and (max-width: 500px) {
  .Search {
    padding: 30px;
    margin-bottom: 0;
  }
}
